{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New comment{% endblock %}</h1>
{% endblock %}

{% block content %}

{% import 'blog/plate.html' as plate %}
{{ plate.nav(post=post) }}

{% if comment %}
{% from 'comment/strip.html' import nav %}
{{ nav(post=post, comment=comment) }}
{% endif %}

<form method="post">
    <label for="body">Comment</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save" />
</form>
{% endblock %}
