{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New comment{% endblock %}</h1>
{% endblock %}

{% block content %}

{% from 'blog/panel.html' import detail as b_detail %}
{{ b_detail(post=post) }}

{% if comment %}
{% from 'comment/panel.html' import detail as c_detail %}
{{ c_detail(post=post, comment=comment) }}
{% endif %}

<form method="post">
    <label for="body">Comment</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save" />
</form>
{% endblock %}
