{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Comment{% endblock %}</h1>
    {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}

{% from 'blog/panel.html' import detail as b_detail %}

{{ b_detail(post=post) }}

{% from 'comment/panel.html' import detail as c_detail %}
{% for comment in comments %}
{{ c_detail(post=post, comment=comment) }}
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}

{% from 'components.html' import page_btn %}
{{ page_btn(url='comment.index', cur_page=cur_page, total_page=total_page, post_id=post['id']) }}

{% endblock %}
